@charset "utf-8";

/* CSS Document */

html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: "微软雅黑";
	line-height: 1.5;
	font-size: 14px;
	color: #323232;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
	-webkit-text-size-adjust: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
	clear: both;
}

body {
	width: 100%;
	font-family: 'Microsoft YaHei', arial, helvetica, sans-serif;
	-webkit-text-size-adjust: none;
	color: #323232;
	-webkit-text-size-adjust: none;
	min-width: 320px;
	background-color: #eff3f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	line-height: 1.5;
	/*font-weight: normal;*/
}

form {
	display: inline;
}

textarea {
	resize: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul,
ol {
	list-style: none;
}

input,
select,
button {
	font-family: 'Microsoft YaHei', arial, helvetica, sans-serif;
	font-size: 100%;
	vertical-align: middle;
	outline: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	-moz-appearance: button;
}

input:focus:-moz-placeholder,
input:focus::-webkit-input-placeholder {
	color: transparent;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

img {
	vertical-align: middle;
	font-size: 0;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

input,
textarea {
	background-color: #fcfcfc;
	border: solid 1px #dadada;
	/*border-radius: 3px;*/
	padding: 2px 5px;
	height: 26px;
	line-height: 26px;
	*line-height: 26px;
	outline: none;
	font-size: 14px;
}

select {
	border: solid 1px #d9d9d9;
	background-color: #f4f4f4;
	height: 32px;
	line-height: 32px;
}

input[type=radio] {
	border: 0;
	background-color: inherit;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.break {
	word-break: break-all;
	word-wrap: break-word;
}

.clearfix:after {
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.blank {
	height: 10px;
}

p {
	word-break: break-all;
	white-space: pre-line;
}

.pos-re {
	position: relative;
}

.b-right {
	border-right: dashed 1px #eee;
}

.pd30 {
	padding: 0 30px;
}

.mgt40 {
	margin-top: 40px;
}

.mgt55 {
	margin-top: 55px;
}

.pd10 {
	padding: 10px;
}
.mgt15{
	margin-top: 15px;
}


.safewidth {
	width: 1200px;
	margin: 0 auto;
}

a:hover {
	color: #232323;
}

.mgt5 {
	margin-top: 5px;
}

.mgl5 {
	margin-left: 5px;
}


/*分页*/

.pagenum {
	clear: both;
	height: 22px;
	padding: 15px 0 17px;
	text-align: center;
	font-size: 12px;
	margin-bottom: 10px;
}

.pagenum a {
	border: 1px solid #ccc;
	color: #646464;
}

.pagenum a:hover {
	border: 1px solid #00aae8;
	color: #00aae8;
	text-decoration: none;
}

.pagenum .no-click {
	border: 1px solid #ccc;
	color: #646464;
	background-color: #eee;
	cursor: no-drop;
}

.pagenum .no-click:hover {
	border: 1px solid #ccc;
	color: #646464;
	background-color: #eee;
}

.pagenum a,
.pagenum strong,
.pagenum span {
	display: inline-block;
	padding: 2px 8px;
	overflow: hidden;
	margin-right: 2px;
	margin-left: 2px;
	background: #fff;
}

.pagenum strong {
	border: 1px solid #00aae8;
	background-color: #00aae8;
	color: #fff;
}

.page .ellipsis {
	border: 0;
	padding: 0;
	height: 21px;
	line-height: 21px;
}

*{
	word-break: break-all !important;
}

@keyframes top {
	from {
		top: 0;
		opacity: 0;
	}
	to {
		top: 32px;
		opacity: 1;
	}
}